---
import herobanner from '../../assets/styles/images/herobanner.jpg'
---
<section class="w-full h-72 mt-10 flex justify-center fixed bg-left-top bg-[url('https://cdn.discordapp.com/attachments/1060989287564320828/1084283492445204561/901ac1f3-7831-4bcb-bd37-91b78fb5e9cf.jpg')]">
    <div>

    </div>
</section>