---
import logo from "../../assets/styles/images/Sagelogo1.png"
---

<section class="fixed w-full h-24 top-0 bg-light z-20">
    <!-- <li style={{backgroundImage: `url(${logo})`}} class="w-full h-full bg-cover z-50">
          
    </li> -->
    <!-- <img  
        src="https://cdn.discordapp.com/attachments/1065347861404987463/1083073311308779650/c9c8e8b7-0c6d-42ef-82f1-87c969852cb0.jpg" 
        alt="Astro"
        > -->
</section>